{% extends 'templates/base.twig' %}

{% block head %}
    <title>Регистрация</title>
{% endblock %}

{% block content %}
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header">
                <h5>Регистрация</h5>
            </div>
            <div class="card-body">
                <form action="{{ path_for('signup') }}" method="post">
                    <div class="form-group">
                        <label for="first_name">Имя</label>
                        <input type="text" class="form-control{{ errors.first_name ? ' is-invalid' : '' }}" name="first_name" id="first_name" value="{{ old.first_name }}">
                        {% if errors.first_name %}
                            <div class="invalid-feedback">
                                {{ errors.first_name | first }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="last_name">Фамилия</label>
                        <input type="text" class="form-control{{ errors.last_name ? ' is-invalid' : '' }}" name="last_name" id="last_name" value="{{ old.last_name }}">
                        {% if errors.last_name %}
                            <div class="invalid-feedback">
                                {{ errors.last_name | first }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control{{ errors.email ? ' is-invalid' : '' }}" name="email" id="email" value="{{ old.email }}">
                        {% if errors.email %}
                            <div class="invalid-feedback">
                                {{ errors.email | first }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="password">Пароль</label>
                        <input type="password" class="form-control{{ errors.password ? ' is-invalid' : '' }}" name="password" id="password">
                        {% if errors.password %}
                            <div class="invalid-feedback">
                                {{ errors.password | first }}
                            </div>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-primary">Регистрация</button>
                    {{ csrf.field | raw }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}